%main-title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px;
}

%large-title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 150%;
}

%medium-title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

%small-title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

%main-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

%uppercase-text {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

%button-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
