.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  @extend %main-text;
  background-color: $c_very-light-grey;
  color: $c_grey;

  &__content {
    flex-grow: 1;
  }
}
