.slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__controls {
    position: absolute;
    left: 48px;
    bottom: 48px;
    z-index: 1;
    display: grid;
    grid-auto-flow: column;
    column-gap: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    @include medium() {
      left: 41px;
      bottom: 41px;
      grid-auto-flow: row;
      row-gap: 16px;
    };

    @include x-small() {
      left: 20px;
      bottom: 20px;
    };
  }

  &__buttons {
    display: grid;
    grid-auto-flow: column;
    column-gap: 16px;
    width: max-content;
  }

  &__button {
    @include circle(32px);
    background-color: $c_white;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: $amin-time;

    &--prev {
      background-image: url('../img/icons/arrow-left.svg');
    }

    &--next {
      background-image: url('../img/icons/arrow-right.svg');
    }

    &:hover {
      transform: scale(1.3);
    }
  }

  &__title {
    @extend %uppercase-text;
  }
}
